@{
    ViewBag.Title = "Posts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="blogHeader"><h1> The World of Office 365</h1></div>
<div class="blogPost1">
    <h2> Office 365 Is A Star</h2>

    Office 365 is Microsoft’s most important business. Office 365 has quickly grown to a multi-billion dollars per quarter business and it is still growing in the high double digits and the future runway is straight, long and clear. Office 365 is also a very complex business. I will try to break it down in this post.
    <hr />
    <h3>Office 365 Components</h3>

    <h5>Word</h5>


    Word is Microsoft's trusty word processing program. It is one of the most important and popular programs Microsoft has.

    <h5>PowerPoint</h5>


    The second most popular program in Microsoft Office, PowerPoint, is Microsoft’s iconic presentation program, that many in college and high school are very familiar with.


    <h5>Excel</h5>

    The third program is the triad, Excel is probably the most irreplaceable program in the Office Suite. Excel is a spreadsheet program that can calculate anything and host unlimited data.


    <h5>Outlook</h5>


    Outlook is a desktop email program that is the most used email client in the Enterprise and it is not even close.


    <h5>Access</h5>


    A magnificent database management system application.


    <h5>Publisher</h5>


    This a program used for designing brochures, labels, calendars, greeting cards, business cards, newsletters, websites, and postcards.


    <h5>OneNote</h5>


    OneNote is a notetaking program that gathers handwritten or typed notes, drawings, screen clippings and audio commentaries.

    <H5>Project</H5>
    Project is a project management application for Windows to keep track of events and to create network charts and Gantt charts.

    <h5>Visio</h5>


    Visio is diagram and flowcharting app for Windows.

    <h5>Skype For Business</h5>

    This Microsoft one of Microsoft’s unified communication platform and it is one of the leaders in this technology sector.


    <h5>Microsoft Team</h5>


    Microsoft’s newest unified communication platform that was made in response to Slack. It has been so successfully rolled-out that Microsoft will replace Skype For Business with it.

    <h5>OneDrive For Business</h5>


    This Microsoft’s cloud storage platform for business that offers 1TB per user in Office 365.

    <h5>SharePoint</h5>

    SharePoint allows you to share and manage content, knowledge, and applications to empower teamwork, quickly find information, and seamlessly collaborate across the organization.

    <h5>Office Online</h5>


    <article>
        •	Word Online: Free web app version of Microsoft Word.
        <br />
        •	Excel Online: Free web app version of Microsoft Excel.
        <br />
        •	PowerPoint Online: Free web app version of Microsoft PowerPoint.
        <br />
        •	OneNote Online: Free web app version of Microsoft OneNote.
    </article>

    <h5>Delve</h5>


    Delve allows Office 365 users to search and manage their emails, meetings, contacts, social networks and documents stored on OneDrive or Sites in Office 365.

    <h5> Office Forms</h5>

    This an online survey creator.

    <h5>  Outlook Web App</h5>

    A comprehensive online email client that only comes through Office 365 plans or Microsoft Exchange server.


    <h5> Microsoft Planner</h5>


    This a planning application.

    <h5>Office 365 Video</h5>

    A video sharing service in some Office 365 plans.

    <h5>Bookings</h5>

    Bookings in an appointment booking application on the Microsoft Office 365 platform.

    <h2>Office 365 Plans</h2>


    There are four main categories of Office 365 plans: Business, Enterprise, Education and Home. Other types of plans include: Nonprofit, Government, and Firstline Workers
    <br />
    <br />
    <h3> Enterprise Plans</h3>
    <h5> ProPlus</h5>

    This is a plan with just the desktop Office applications. There are no online services included, except OneDrive for Business. It also comes with the desktop client for Skype for Business. It costs $12/user/month for unlimited users.


    <h5>  E1</h5>


    This is the unlimited user Office 365 plan that comes with only Office 365 online services. The services include Skype for Business, Exchange (Outlook), Office Online and Microsoft Team. It will cost $8/user/month.



    <h5> E3</h5>


    This is a combination of E1 and ProPlus for $20/user/month. It also has security and compliance tools, such as legal hold and data loss prevention. A company can have an unlimited amount of users on this plan.


    <h5> E5</h5>


    This is the granddaddy of Office 365 plans. It encompasses all the services that Microsoft offers. It also has some exclusive services such as Power BI Pro, Advanced Threat Detection, Customer Lockbox-to control accesses to Outlook mailbox, Advanced Data Governance, Office 365 Cloud App Security and Advanced Voice Capabilities. It cost $35/user/month. A company on this plan has unlimited user capacity.


    <h3> Business Plan</h3>


    <h5> Business Essentials</h5>


    This is the basic Small business plan. It comes with the online services of Office 365. It costs 5/user/month and it is limited to 300 users.


    <h5> Business</h5>


    This is a plan that contains the Office desktop applications that will cost $8.50/user/month. It is also limited to 300 users. It does not offer any online service barring OneDrive for Business.


    <h5> Business Premium</h5>


    This is a combination of Business and Business Essentials that costs $12.50/user/month. A small business can place 300 employees on this plan.


    <h3> Education Plans</h3>
    <h5>A1</h5>


    This is a free Office 365 plan includes the Office 365 online services. It also contains School Data Sync which is a service that reads the school and roster data from a school's Student Information System.


    <h5>A3</h5>

    A3 contains all the features in A1 in addition to full access to the Office desktop apps. It also comes with additional management and security tool. It costs $2.5/month for student and $3.25/month for faculty and staff members.


    <h5>A5</h5>


    This is the most comprehensive Office 365 Education Plan that has all the features available in A3. It comes with Microsoft’s best-in-class intelligent security management, advanced compliance, and analytics systems. It costs students $6/user/month and $8/user/month for faculty and staff members.



    <h3> Home Plans</h3>
    There are two plans. Office 365 Personal which grants the user 1 license to the PC or Mac version of Office desktop applications that include: Word, Excel, PowerPoint, OneNote, and Outlook. It also comes with 1tb of OneDrive storage. It also grants 60 minute of Skype calls per month to mobile phones and landlines. The other Home plan is just called Home. It has all the features of Personal except it grants a license to up to 5 users and each those users are granted 1tb of storage and 60 minutes per month.


    <h3>  Government Plans</h3>


    <h5>  U.S. Government Community G1</h5>

    This is a Government plan that contains a subset of Office 365 online services.

    <h5> U.S. Government Community G3</h5>

    G3 contains Office 365 U.S. Government Community G1 plus Office desktop applications, personalized search and discovery, self-service business intelligence, enterprise management of apps, eDiscovery tools, hosted voicemail with auto-attendant capabilities, and other services.

    <H5>U.S. Government Community G5</H5>

    This is a Government plan that contains Office 365 U.S. Government Community G3. In addition, to the desktop applications, it also provides unified communications with Skype for Business Server, advanced eDiscovery with predictive coding and text analytics, Exchange Online Advanced Threat Protection, personal and organizational analytics, Audio Conferencing, and other services.

    <h3>Nonprofit</h3>


    These plans are just reduced-price Business and Enterprise plans. The new pricing is:
    <br />
    <br />
    <article>
        •	Business Essential- Donation
        <br />
        •	Business Premium- $2/user/month
        <br />
        •	Enterprise E1-Donation
        <br />
        •	Enterprise E3- $4.50/user/month
        <br />
        •	Enterprise E5- $10/user/month
    </article>
    <br />
    <br />

    It is easy to see that Office 365 has a wide range of options for all size business. Its expansive sets of plans are working, given that it has 120 million monthly active users. However, it does have a lot of completion.



    <h4>Some of the completion are:</h4>


    <h3> Google G-Suite</h3>


    This is the biggest competition to Office 365 and Office in general. G Suite comprises Gmail, Hangouts, Calendar, Google+, Drive, Docs, Sheets, Slides, Forms, Sites. There is also an Admin panel and Vault for managing users and the services.
    <br />
    <br />

    <article>
        •	Gmail: Online email service.
        <br />

        •	Hangouts: Googles unified communication platform, that was born online.

        <br />
        •	Calendar: Calendar service attached to each G Suite user.
        <br />
        •	Google +: Google’s take on Enterprise social network.
        <br />
        •	Drive: Google’s online storage service.
        <br />
        •	Docs: Word processor that popularized online co-authoring.
        <br />
        •	Sheets: A spreadsheet companion to Docs that also has rich collaboration tools.
        <br />
        •	Slides: The presentation arm of Google’s productivity services.
        <br />
        •	Forms: A survey and quiz making service by Google.
        <br />
        •	Sites: This is a tool that allows users to create websites without knowing how to code.
        <br />
        •	Keep: A note-taking service from Google.
    </article>

    <h5>Pricing</h5>


    Google G-Suite is known for its cheap pricing plans. The plans are Basic which is for $5/user/month that provides all the services above with 30 GB of cloud storage. The next plan Business for $10/user/month. It offers unlimited storage unless there are less than 5 users on the plan. The last plan is Enterprise that offers everything in the Business plan plus security and other enterprise-focused services. It costs $25/user/month. All these plans are offered to unlimited users.


    <h5> Comparison</h5>

    There are no like for like Office 365 and G-Suite plans, so a direct comparison is not possible. The closest plans are the E1 to Google Business plan and E3 to Google Enterprise plan. The E1 and Business plans offer very similar services, however, the E1 is cheaper. However, the Business plan offers unlimited storage if there are more than 5 users. This makes them awash. However, when comparing the Enterprise and E3 plans, it is clear to see that the E1 offers more for less when you take into account that it is cheaper while offering the same services with the addition of the desktop versions of Office, on up to five PCs.
    Despite, the reputation of Suite being cheap for business, it is no cheaper than Office 365.
    <br />

    <h3>Zoho Office Suite</h3>


    Zoho Office Suite is a SaaS office suite containing word processing, spreadsheets, presentations, databases, note-taking, CRM, project management, invoicing and other applications developed by Zoho Corporation. Zoho Office Suite is free to use at the basic level, but require payment for more complex features.
    <br />
    <br />

    <article>

        •	Zoho Writer: The suite's word processor supports simultaneous collaboration between multiple users.
        <br />
        •	Zoho Sheet: Sheet is the spreadsheet application in the suite.
        <br />
        •	Zoho DB and Reports: An online database and reporting application in the suite.
        <br />
        •	Zoho Show: This is the presentation program in the suite.
        <br />
        •	Zoho Projects: Zoho Projects supports creating tasks, assigning ownership, setting deadlines and tracking milestones.
        <br />
        •	Zoho CRM: This is a customer relationship management application.
        <br />
        •	Zoho Creator: A database/custom application development tool which allows users to create process logic by dragging & dropping script elements on screen, without knowing code.
        <br />
        •	Zoho Wiki: Allows users to create their own website.
        <br />
        •	Zoho Discussions: Create external and internal communities where problems are solved, topics are discussed, and ideas are exchanged.
        <br />
        •	Zoho Planner: An online planner with a calendar, to-do lists, pages, and e-mail reminders.
        <br />
        •	Zoho Notebook: A notetaking application.
        <br />
        •	Zoho Chat: A chat application that can be embedded into pages or blogs.
        <br />
        •	Zoho Mail: This is web-based email application.
        <br />
        •	Zoho Meeting: A web conference application.
        <br />
        •	Zoho People: On-Demand HRIS & Applicant Tracking System
        <br />
        <br />
    </article>

    Zoho Office Suite main plan is called One. It can be had for $35/user/month billed monthly or $30/user/month billed annually. One is the all-in-one platform from Zoho, that offers everything for one price and one interfere. It is similar to Office 365 in the way it is implemented. It defers from Office 365 because it has only one plan and it offers Customer Relationship Management and Financial applications in the package. Each component can be bought individually, and each has a free option.
    <br />
    <br />
    It compares very to Office 365. I really love what they are doing. That is why I argue that it should be one of the companies Microsoft should buy next.
    <br />

    <h3> Quip</h3>


    Quip is a collaborative productive service that is currently owned by Salesforce.com. The core of Quip provides word processing and spreadsheet functionality, accessible via the Web, an iOS app, and an Android app. Alongside all documents on Quip is a live updating history of edits made, as well as the ability to highlight portions of a document and add comments, which facilitates collaboration. Quip also has a chat based communication platform as well as what they call Live Apps, which are apps that gives additional functionality to the core platform.
    <br />
    <br />

    It also has tight integration with Salesforce.com and other productivity platforms such as Google G-Suite.
    <br />
    <br />

    It can be had for $30/month for the first five users, with an additional $10 needed for each additional user when billed monthly and $12 when billed yearly. There is also an enterprise plan that comes with the usual enterprise-focused plans such as added security and compliance tools. It will cost a company 25/user/month
    <br />
    <br />

    On its own, it was not a real threat to Office 365, but given that it has been bought by Salesforce.com, it has become a bigger threat. It no longer has to worry about making a profit and it will be pushed by one of the top SaaS companies in the world.
    <br />

    <h3> Sources</h3>

    https://products.office.com/en-us/nonprofit/office-365-nonprofit-plans-and-pricing?tab=2
    <br />

    https://products.office.com/en-us/academic/compare-office-365-education-plans
    <br />
    https://products.office.com/en-us/business/compare-more-office-365-for-business-plans
    <br />
    https://products.office.com/en-us/compare-all-microsoft-office-products?tab=2
    <br />
    https://revibennett.quip.com/about/home-1
    <br />
    https://gsuite.google.com/
    <br />
    https://www.zoho.com/one/



</div>

<div class="sidebar">This is the Sidebar</div>
<div class="clr"></div>