@page
@model CURD_FORM.Pages.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<p> Enter Your Name</p>
<form method="post">
    <div> Name: <input asp-for="Customer.Name" ></div>
    <input type="submit" />
    

</form>