@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="blogFront">
    <div class="blogHeaders"><h1> The World of Office 365</h1></div>
    <div class="blogPic"></div>
    </div>
<div class="clr"></div>

    <div class="clr"></div>
    <div class="blogPosts">
        <h2> Office 365 Is A Star</h2>

        Office 365 is Microsoft’s most important business. Office 365 has quickly grown to a multi-billion dollars per quarter business and it is still growing in the high double digits and the future runway is straight, long and clear. Office 365 is also a very complex business. I will try to break it down in this post.
        <br />
        @Html.ActionLink("Office365", "Office365", "Posts")
    </div>
<div class="clr"></div>


