@using RealMsftWorldVisualStudioAsp.NetCoreDevOpsApp.Models
@model ContactInfo

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
   
  
</div>
<div id="theForm">
    <div class="form">
        <form method="post">

            <div class="form-group">
                <div>
                    <label class="label" asp-for="FirstName">First Name</label>
                    <input type="text" name="FirstName" asp-for="FirstName" placeholder="Enter First Name" value= "FistName" >
                    <span asp-validation-for="FirstName"></span>
                </div>
                <br>
                <div>
                    <label class="label" asp-for="LastName">Last Name</label>
                    <input type="text" name="LastName" asp-for="LastName" value="MiLastName" placeholder="Enter Last Name">
                    <span asp-validation-for="LastName"></span>
                </div>
                <br>
                <div>
                    <label class="label" asp-for="Email">Email Address</label>
                    <input type="email" name="Email" asp-for="Email" value="Email" placeholder="Enter Email Address">
                    <span asp-validation-for="Email"></span>
                </div>
                <br>
                <div>
                    <label class="label" asp-for="Message">Your Message</label>
                    <textarea class="textarea" rows="10" asp-for="Message" value="Message" placeholder="Enter Your Message"></textarea>
                    <span asp-validation-for="Message"></span>
                </div>
                <br>
                <div>
                    <label class="label" asp-for="Age">Your Age</label>
                    <input asp-for="Age" value="Age" placeholder="Enter Your Age"><!--you can put in the value on the back-end-->
                    <span asp-validation-for="Age"></span>
                </div>
                <br>
                <div>
                    <label class="label" asp-for="Gender">Gender</label>
                    <select asp-for="Gender" asp-items="@Html.GetEnumSelectList<GenderType>()" value="Gender">Gender</select>
                    <span asp-validation-for="Gender"></span>
                </div>
                <br />
                <div>
                    <label class="label" asp-for="Birthday">Birthday:</label>
                    <input type="date" name="Birthday" asp-for="Birthday">
                    <span asp-validation-for="Birthday"></span>
                </div>
                <br>
              <div id="submit">
                    <input type="submit" class="button"
                           name="submit" value="submit">
                </div>
            </div>
            <br>
        </form>
    </div>
</div>

