@using RealMsftWorldVisualStudioAsp.NetCoreDevOpsApp.Models
@model ContactInfo

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="ContactMessageDisplay"><h1>You Have Sent Your Message Sucessfully</h1></div>

    <a class="button" asp-action="Contact">Back</a>
 
<div class="SucessDisplay"></div>