@model RealMsftWorldVisualStudioAsp.NetCoreDevOpsApp.Models.Restaurant


@{
    ViewBag.Title = "Restaurant Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div>
   Id: @Model.Id
    </div> 
  <div>
      Cuisine : @Model.Cuisine
  </div>
  <div>

  </div>

<a class="button" asp-action="Restaurant">Back</a>
<div></div>