@{
    ViewBag.Title = "Forum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<form>
    <div class="form-forum">
        <label>Time Zone</label>
        
        @TimeZoneInfo.Local
      

    </div>
    <div class="form-forum">
        <label>Date</label>
         @DateTime.Now 


    </div>
    <div class="form-forum">
        <label>Categories</label>
        <select>
            <option value="Microsoft">Microsoft</option>
            <option value="Other">Other</option>

        </select>
    </div>

</form>