
@model RealMsftWorldVisualStudioAsp.NetCoreDevOpsApp.ViewModels.HomeRestaurantViewModel

@{
    ViewBag.Title = "Restaurant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <h1>@Model.CurrentMessage</h1>
    <table>
        @foreach (var restaurant in Model.Restaurant)
        {
            <tr>
                <td><h3> @restaurant.Id</h3></td>
                <td><h3> @restaurant.Name</h3></td>
                <td>
                    <a class="button" href="/Home/Details/@restaurant.Id">Details</a>
                </td>
            </tr>
           }
    </table>
    <a asp-action="Create">Add Restaurants</a>
 


</body>