
@model RealMsftWorldVisualStudioAsp.NetCoreDevOpsApp.ViewModels.HomeRestaurantViewModel

@{
    ViewBag.Title = "Restaurant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <h1>@Model.CurrentMessage</h1>
    <table>
        @foreach (var restaurant in Model.Restaurant)
        {
        <tr>
            <td>@restaurant.Id</td>
            <td>@restaurant.Name</td>
        </tr>
        }
    </table>
     

</body>