@page 
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>RecipeDemo</title>
</head>

<body>
    <header><h1>Recipe Demo</h1></header>

    <h1>Welcome to the Recipe Demo</h1>
    <h1>This Will Be Great</h1>

    <footer>Copyright  Date.Now Msft World</footer>
</body>
</html>