@model RealMsftWorldVisualStudioAsp.NetCoreDevOpsApp.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



        
<div class="homeblock1">
        @Html.ValidationSummary()


    <form class="form1" method="post" asp-action="Register">
        <span asp-validation-summary="ModelOnly"></span>



        <div class="firstname">
            <label>First Name</label>
            <input type="text" asp-for="FirstName"  />
        </div>
        <div class="lastname">
            <label>Last Name</label>
            <input type="text" asp-for="LastName"  />
        </div>
        <div class="username">
            <label>Username</label>
            <input type="text" asp-for="UserName"  />
            <span>@Html.ValidationMessage("Reqiures Username")</span>
        </div>
        <div class="username">
            <label>Email</label>
            <input type="email" asp-for="Email1"  />
        
        </div>
        <div class="password">
            <label>Password</label>
            <input type="password" asp-for="Password"  />
        </div>
        <div class="password">
            <label>Repeat Password</label>
            <input type="password" asp-for="RepeatPassword"  />
        </div>
        <div id="checkbox">
            <input type="checkbox" asp-for="RememberMe"  />
            <label>Remember Me</label>
        </div>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        <div id="submit">
            <input type="submit" , value="Sign Up" />
        </div>
}
    </form>
    
    
</div>

   
        <div class="clr"></div>


        @section footers{

            <div class="footersection"><a href="https//msftworld.com"> Visit My Other Website</a></div>
        }
